@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color-rgb: 29 32 38;
    --accent-color-rgb: 22 117 255;
    --accent-dark-color-rgb: 57 114 255;
    --dark-white-color-rgb: 238 238 238;
    --off-white-color-rgb: 250 250 250;
    --orange-color-rgb: 234 118 53;
    --green-color-rgb: 18 162 80;
    --purple-color-rgb: 164 0 221;
    --yellow-color-rgb: 251 188 5;
  }
}

@layer base {
  body {
    @apply bg-white text-primary;
  }
}

html {
  scroll-behavior: smooth;
}

button,
input,
textarea,
select {
  outline: none;
  background: none;
}

img {
  user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slider-transition {
  transition: transform 0.4s cubic-bezier(0.3, 1.5, 0.5, 1);
}

.scrolled-nav-bg {
  background: linear-gradient(180deg, #121118 34.42%, #000 100%);
}

@media only screen and (max-width: 1023px) {
  .hamburger-menu {
    transform: translateX(100%);
  }

  .hamburger-menu.active {
    transform: translateX(0);
  }
}

.addon-boxes-wrapper .addon-box:nth-child(1) {
  padding-right: 25px;
}

.addon-boxes-wrapper .addon-box:nth-child(3) {
  padding-left: 25px;
}

.addon-boxes-wrapper .addon-box:nth-child(2) {
  padding: 0 25px;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
  border-right: 1px dashed rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 677px) {
  .addon-boxes-wrapper .addon-box:nth-child(1) {
    padding-bottom: 25px;
    padding-right: 0;
  }

  .addon-boxes-wrapper .addon-box:nth-child(3) {
    padding-top: 25px;
    padding-left: 0;
  }

  .addon-boxes-wrapper .addon-box:nth-child(2) {
    padding: 25px 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.15);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
    border-left: none;
    border-right: none;
  }
}
